
notebook/.ipynb_checkpoints/

notebook/__pycache__/

/.idea

*.png

*.csv

*.eps

notebook/build/
notebook/dist/

kinetic_analysis_app/build/
kinetic_analysis_app/dist/

kinetic_analysis_app/__pycache__/
