numpy
pandas
plotly
threaded
tk
scipy
plotly
multipletau
pyqt5
pyqtwebengine
pycairo
#pyGObject==3.50.0
pywebview[qt]==5.3.2
sympy
dash==2.18.1
dash-html-components
dash-core-components
dash-bootstrap-components
dash-spinner
dash-table
lmfit